@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  font-family: -apple-system, 'Inter', sans-serif;
}

:root {
  --body-bg: #FFFFFF;
  --card-bg: #FFFFFF;
  --card-bd-col: #bdbdbd;
  --text-color: #252525;
  --shadow-color: #b3aeae;
}

.dark_mode {
  --body-bg: #1A1A1A;
  --card-bg: #555;
  --card-bd-col: #1A1A1A;
  --text-color: #f5f5f5;
  --shadow-color: rgb(245, 245, 245, 0.2);
}

body {
  background: var(--body-bg);
}

header {
  z-index: 2;
}

header .logo {
  width: 140px;
}

h2,
h1,
.products .swiper-slide h3,
.products .product_info span,
.products .product_info {
  color: var(--text-color) !important;
}

.shadow_csc {
  box-shadow: 0 1px 3px 0 var(--shadow-color), 0 1px 2px -1px var(--shadow-color);
}

.btn_floating {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  z-index: 2;
}

.btn_whats {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: green;
  padding: 20px;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}

.nav_icons img {
  width: 100px;
  padding: 5px;
}

.product_info {
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 20px 0px 20px 0px;
}


footer i {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
}

@media (max-width: 310px) {
  .about .doctor p {
    font-size:12px;
  }
.swiper_convenios img {
height: 150px !important;
} 
}


@media (min-width: 769px) {}

@media (max-width: 768px) {}